
    <div class="card__header">
        <p>1</p>
    </div>
    <div class="card__body">
        <p class="card__name">
            Lorem ipsum dolor sit amet
        </p>
        <p class="card__price">
            $12345
        </p>
        <p class="card__category">
            category
        </p>
        <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras.png" alt="img_products" class="card__img">
    </div>

    <div class="card__header">
        <p>1</p>
    </div>
    <div class="card__body">
        <p class="card__name">
            Lorem ipsum dolor sit amet
        </p>
        <p class="card__price">
            $12345
        </p>
        <p class="card__category">
            category
        </p>
        <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras.png" alt="img_products" class="card__img">
    </div>
    <div class="card__header">
        <p>1</p>
    </div>
    <div class="card__body">
        <p class="card__name">
            Lorem ipsum dolor sit amet
        </p>
        <p class="card__price">
            $12345
        </p>
        <p class="card__category">
            category
        </p>
        <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras.png" alt="img_products" class="card__img">
    </div>
    <div class="card__header">
        <p>1</p>
    </div>
    <div class="card__body">
        <p class="card__name">
            Lorem ipsum dolor sit amet
        </p>
        <p class="card__price">
            $12345
        </p>
        <p class="card__category">
            category
        </p>
        <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras.png" alt="img_products" class="card__img">
    </div>
    <div class="card__header">
        <p>1</p>
    </div>
    <div class="card__body">
        <p class="card__name">
            Lorem ipsum dolor sit amet
        </p>
        <p class="card__price">
            $12345
        </p>
        <p class="card__category">
            category
        </p>
        <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras.png" alt="img_products" class="card__img">
    </div>
    <div class="card__header">
        <p>1</p>
    </div>
    <div class="card__body">
        <p class="card__name">
            Lorem ipsum dolor sit amet
        </p>
        <p class="card__price">
            $12345
        </p>
        <p class="card__category">
            category
        </p>
        <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras.png" alt="img_products" class="card__img">
    </div>
    <div class="card__header">
        <p>1</p>
    </div>
    <div class="card__body">
        <p class="card__name">
            Lorem ipsum dolor sit amet
        </p>
        <p class="card__price">
            $12345
        </p>
        <p class="card__category">
            category
        </p>
        <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras.png" alt="img_products" class="card__img">
    </div>
    <div class="card__header">
        <p>1</p>
    </div>
    <div class="card__body">
        <p class="card__name">
            Lorem ipsum dolor sit amet
        </p>
        <p class="card__price">
            $12345
        </p>
        <p class="card__category">
            category
        </p>
        <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras.png" alt="img_products" class="card__img">
    </div>
    <div class="card__header">
        <p>1</p>
    </div>
    <div class="card__body">
        <p class="card__name">
            Lorem ipsum dolor sit amet
        </p>
        <p class="card__price">
            $12345
        </p>
        <p class="card__category">
            category
        </p>
        <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras.png" alt="img_products" class="card__img">
    </div>